<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CornerRadius&amp;Shadow.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>67B364B21F160D9D00F3CBBF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>67B364C61F160D9D00F3CBBF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>67B364D11F160D9D00F3CBBF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
